/server/node_modules
/client/node_modules
/.idea
/client/.env
/client/.env.development
/client/.env.production

./server/.env
./server/dist

./front/.env
./front/.env.production
./front/dist

./nest/package.json
./nest/.env
./next/dist
./next/ormconfig.json

contents
temporary-storage


server/dist
server/server.env.json
server/src/controller/admin.controller.ts
server/src/model/admin.model.ts
