/server/node_modules
/client/node_modules
/.idea
/client/.env
/client/.env.development
/client/.env.production

server/.env
contents
temporary-storage


server/dist/server/src/config/session.config.js
server/dist/server/src/config/session.config.js.map