.main-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100%);
  display: flex;
  justify-content: space-between;
}
.main-section_left {
  display: inline-flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 15%;
}
.main-section_center {
  display: inline-flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 70%;
}
.main-section_right {
  display: inline-flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 15%;
}
